<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Countdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Countdown.Properties.Settings>
            <setting name="TargetDate" serializeAs="String">
                <value>04/08/2017 16:32:00</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ShadowColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="MinimumLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompletionText" serializeAs="String">
                <value>It's time!</value>
            </setting>
            <setting name="CountdownFontSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="CountdownFontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="SelectedMonitor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaximumLevel" serializeAs="String">
                <value>5</value>
            </setting>
        </Countdown.Properties.Settings>
    </userSettings>
</configuration>